.login-ui {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form > .button-group{
    min-width:400px;
    text-align: center;
}

.login-form md-input {
    width:100%;
}



