<form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
        User Name: <input type="text" required [(ngModel)]="loginInfo.username" name="username" #username="ngModel"/>
    </div>
    <div [hidden]="username.valid || username.pristine">
        User Name is required
    </div>
    <div>
        Password: <input type="password" required [(ngModel)]="loginInfo.password" name="password" #password="ngModel"/>
    </div>
    <div [hidden]="password.valid || password.pristine">
        Password is required
    </div>
    <div>
        <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </div>
</form>